@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

body{
    font-family: 'Pretendard';
    background-image: url('/images/PlaneBG.jpg');
    background-position: center;
    background-size: cover;

}

.main{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100vh;
}

.mainLogin{
    color: #ffffff;
    margin-top: 0;
}

.wrap{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapUnder{
    display: flex;
    justify-content: center;
    height: 48.7vh;
    width: 35vh;
    background-color: #ffffff;
    border-radius: 30px;
}

.lining{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    margin: 0;
}

.userid{
    border: none;
    box-shadow: 2px 2px 13px #656565;
    border-radius: 26px;
    width: 300px;
	height: 60px;
	font-size: 13px;
    text-align: center;
}

.userpw{
    border: none;
    box-shadow: 2px 2px 13px #656565;
    border-radius: 26px;
    width: 300px;
	height: 60px;
	font-size: 13px;
    text-align: center;
}

input::placeholder{
    text-align: center;
}


.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 320px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 82.5px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 26px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #e18625, #fe6804, #e4a434, #ed703f);
    box-shadow: 2px 2px 13px #656565;
    font-size: 20px;
}